/*  hide the scrollbar for entire application */

body::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.search-bar-and-post form {
    width: 85% !important;
}

.post {
    position: fixed;
    width: 15%;
    right: 0;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    height: 40px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #139ef1;
    border-left: 1px solid var(--primary-text-color);
}

.post.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

button {
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
    outline: none;
}


button:active {
    transition: background 0s;
}
