@font-face {
    font-family: customSans;
    src: local("OpenSans-Regular"), url('./../../../fonts/OpenSans-Regular.ttf') format(truetype);
}


body {
    font-family: customSans, sans-serif;
}


.top-navbar {
    background-color: #149EF1;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 3;
}

.nav-heading {
    background-color: transparent;
    position: fixed;
    top: 11px;
    left: 56px;
    color: white;
    font-weight: 600;
    font-size: 19px;
    z-index: 7;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

nav.active {
    transform: translateX(0);
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.backdrop.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s ease, visibility 1.2s ease;
}

#nav-expand {
    background-color: transparent !important;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 25px;
    top: 13px;
    text-decoration: none;
    transition: .5s linear;
    user-select: none;
    -webkit-user-drag: none;
    z-index: 7;
}


#nav-expand:focus~nav {
    left: 0;
    transition-delay: .25s;
    position: fixed;
}

.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
}


.icon-menu {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAB5JREFUKJFj/P///38GEgATKYoHKWAc9TQRgGRPAwD0IAv+FT8LPwAAAABJRU5ErkJggg==');
}


#drawer {
    display: flex;
    flex-direction: column;
    background-color: white;
}

#drawer #nav-collapse {
    position: absolute;
    top: 2px;
    right: 20px;
}

#drawer #nav-collapse svg {
    height: 4.3vmin;
}

#drawer .drawer-profile-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #7db343;
    padding: 20px;
}

#drawer .drawer-profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#drawer .drawer-profile-image>div {
    color: white;
    font-weight: bold;
}


#drawer .drawer-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    box-sizing: border-box;
}

#drawer .drawer-buttons button {
    padding: 10px;
    text-align: left;
    color: black;
    text-decoration: none;
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    cursor: pointer;
}

#drawer .drawer-buttons button>svg {
    height: 4.3vmin;
}


.bottom-tab {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100% !important;
    background-color: #fff;
    border-top: 1px solid #ccc;
    z-index: 3;
}