:root {
    touch-action: pan-x pan-y;
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Chrome */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed */
}

/* Change autocomplete styles in WebKit */
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
    -webkit-text-fill-color: #afb4b7;
    -webkit-box-shadow: 0 0 0px 1000px #1B1B1C inset;
    transition: background-color 5000s ease-in-out 0s;
    border-radius: 4px;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the number input spinner for Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@font-face {
    font-family: customSans;
    src: local("OpenSans-Regular"), url('./../../../fonts/OpenSans-Regular.ttf') format(truetype);
}


body {
    font-family: customSans, sans-serif;
}


.top-navbar {
    background-color: #139EF1;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 3;
}

.nav-heading {
    background-color: transparent;
    position: fixed;
    top: 15px;
    left: 60px;
    color: white;
    font-weight: 600;
    z-index: 7;
}

.nav-heading>div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

div.small-arrow {
    margin-top: -2px;
    font-size: 0.85em;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

nav.active {
    transform: translateX(0);
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.backdrop.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

#nav-expand,
#go-back {
    background-color: transparent !important;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 25px;
    top: 16px;
    text-decoration: none;
    transition: .5s linear;
    user-select: none;
    -webkit-user-drag: none;
    z-index: 7;
}

#go-back {
    top: 17px;
}


#nav-expand:focus~nav {
    left: 0;
    transition-delay: .25s;
    position: fixed;
}

#drawer {
    display: flex;
    flex-direction: column;
    background-color: #333a40;

}

#drawer #nav-collapse {
    position: absolute;
    bottom: 16px;
    right: 12px;
}

#drawer #nav-collapse svg {
    height: 4.3vmin;
}

#drawer .drawer-profile-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #7db343;
    padding: 20px;
}

#drawer .drawer-profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#drawer .drawer-profile-image>div {
    color: white;
    font-weight: bold;
}


#drawer .drawer-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: white; */
    padding: 20px 10px;
    box-sizing: border-box;
}

#drawer .drawer-buttons button {
    color: #afb4b7;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    cursor: pointer;
}

#drawer .drawer-buttons button>svg {
    height: 4.3vmin;
}




.bottom-tab {
    bottom: -2px;
    left: 0;
    right: 0;
    position: fixed;
    width: 100% !important;
    background-color: #2b3035;
    z-index: 3;
    color: #afb4b7;
    font-weight: bold;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}