:root {
    --dur: .3s;
    --height: 2.5rem;
    --btn-width: 4rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

#search-bar {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
    border-bottom: 2px solid #139ef1;
}

#search-bar.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

form {
    width: 100%;
    background: #2b2e31;
    position: fixed;
    top: 50px;
}

input#search,
input#reset,
button#search-btn {
    height: var(--height);
    border: 0;
    font-size: 1rem;
}

input[type="reset" i] {
    padding-block: 1px;
    padding-inline: 6px;
    margin-inline-end: 9px;
    margin-inline-start: 3px;
}

input[type=search] {
    outline: 0;
    width: 100%;
    padding: 0 0.8rem 0rem 1.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
    background-color: #2b2e31;
    color: #afb4b7 !important;
}

/* Change the color of the Webkit search cancel button */
::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
    /* This hides the cancel button */
}

button#search-btn,
input#reset {
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

button#search-btn {
    background-color: #25272a;
    right: 0;
    width: var(--btn-width);
    top: 0 !important;
}

button#search-btn > img {
    margin-bottom: -6px;
}

input#reset {
    top: 10px;
    height: 20px;
    background-color: #2b2e31;
    right: var(--btn-width);
    border-radius: 50%;
    color: #afb4b7;
}

input#search:not(:-moz-placeholder-shown) {
    width: calc(100% - var(--btn-width) - 33px);
}

input#search:not(:-ms-input-placeholder) {
    width: calc(100% - var(--btn-width) - 33px);
}

input#search:not(:placeholder-shown) {
    width: calc(100% - var(--btn-width) - 33px);
}

input#search:not(:-moz-placeholder-shown)+button {
    display: block;
}

input#search:not(:-ms-input-placeholder)+button {
    display: block;
}

input#search:not(:placeholder-shown)+button {
    display: block;
}
