.user-downloads.tabs {
    display: flex;
    background-color: #149EF1;
    position: fixed;
    height: 56px;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

.user-downloads.tabs input[type='checkbox'].tab {
    display: none;
}

.user-downloads.tabs input[type='checkbox'].tab + label {
    padding: 10px;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255, 0.6);
    outline: none;
    background-color: #149EF1;
    font-size: 1em;
    transition: background 0.3s;
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-downloads.tabs input[type='checkbox'].tab:checked + label {
    color: white;
}

.user-downloads.tabs input[type='checkbox'].tab:checked ~ .slider-userdownloads {
    left: calc(100% / 4 * var(--tab-index));
}

.user-downloads.tabs input[type='checkbox'].tab:nth-of-type(1):checked ~ .slider-userdownloads {
    left: calc(100% / 4 * 0);
}

.user-downloads.tabs input[type='checkbox'].tab:nth-of-type(2):checked ~ .slider-userdownloads {
    left: calc(100% / 4 * 1);
}

.user-downloads.tabs input[type='checkbox'].tab:nth-of-type(3):checked ~ .slider-userdownloads {
    left: calc(100% / 4 * 2);
}

.user-downloads.tabs input[type='checkbox'].tab:nth-of-type(4):checked ~ .slider-userdownloads {
    left: calc(100% / 4 * 3);
}

.slider-userdownloads {
    background: #fff;
    width: calc(100% / 4);
    height: 3px;
    position: absolute;
    left: 0;
    top: calc(100% - 3px);
    transition: left 0.3s ease-out;
}

.pre-tag-wrapper > pre {
    padding: 0 !important; 
    margin: 0 !important;    
}

.tabpanel {
    min-width: 100%;
    height: calc(100% - 155px);
    overflow-x: auto;
}