.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    /* Initial transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out forwards;
    z-index: 12;
    /* Fade-in effect */
}

.modal-content {
    background-color: #fff;
    width: 100%;
    min-height: 60vh;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.3s ease-in-out;
    z-index: 12;
    display: flex;
    flex-direction: column;
}


/* Slide-down and fade-out effects */

.slide-down {
    animation: slideDown 0.3s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
}

.close-button {
    position: absolute;
    top: 11px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
        /* Final opacity */
    }
}

@keyframes fadeOut {
    from {
        background-color: rgba(0, 0, 0, 0.5);
        /* Initial opacity */
    }

    to {
        background-color: rgba(0, 0, 0, 0);
        /* Final transparency */
    }
}



.no-of-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 0.4px solid rgb(170, 170, 170);
    border-radius: 25px 25px 0 0;
}

.comment-area {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: stretch;
    border-bottom: 0.4px solid rgb(170, 170, 170);
}

.avatar-and-comment-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.avatar-and-comment-area img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.avatar-and-comment-area > div {
    width: 100%;
}

.avatar-and-comment-area textarea {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid rgb(170, 170, 170);
}

.avatar-and-comment-area textarea:focus {
    outline: none;
    border: 1px solid #007BFF;
}

.cancel-and-comment-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 0.4em;
}

.cancel-and-comment-btn > button:first-child {
    background-color: transparent;
    color: #000;
    border: none;
}

.cancel-and-comment-btn > button:last-child {
    background-color: #2793ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
}


.user-comments {
    height: calc(60vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
}

.user-comments::-webkit-scrollbar {
    display: block !important;
    width: 3px;
}
.user-comments::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 2px;
}

.user-comments::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}




/* for user done comment part */
/* for Comment component */

.comment-body {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: flex-start;
    gap: 20px;
}

.comment-body img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: flex-start;
}

.comment-body > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:self-start;
    align-self: flex-start;
}

.comment-body > div > div:first-child {
    font-size: 0.84em;
    margin-bottom: 5px;
}

.comment-body > div > div:first-child > svg:first-child {
    height: 1.7vmin;
    fill: #059df5 ;
}

.comment-body > div > div:first-child > button > svg:last-child {
    height: 3.6vmin;
}


.comment-body > div > div:last-child {
    font-size: 0.9em;
}






