.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out forwards;
    z-index: 12;
}


.modal-content {
    width: 100%;
    min-height: 60vh;
    position: fixed;
    left: 0;
    right: 0;
    animation: slideUpBottomSheet 0.3s ease-in-out forwards;
    z-index: 12;
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: #333a40;
}


/* Slide-down and fade-out effects */

.slide-down {
    animation: slideDownBottomSheet 0.3s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
}

.close-button {
    position: absolute;
    top: 7px;
    right: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.close-button > svg {
    height: 3.5vmin;
}

@keyframes slideUpBottomSheet {
    from {
        bottom: -100%;
    }

    to {
        bottom: 0%;
    }
}


@keyframes slideDownBottomSheet {
    from {
        bottom: 0%;
    }

    to {
        bottom: -100%;
    }
}

@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
        /* Final opacity */
    }
}

@keyframes fadeOut {
    from {
        background-color: rgba(0, 0, 0, 0.5);
        /* Initial opacity */
    }

    to {
        background-color: rgba(0, 0, 0, 0);
        /* Final transparency */
    }
}



.no-of-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 0.9em;
    color: #afb4b7;
    background-color: #272727;
    /* give a decent box shadow to bottom side */
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);

}

.comment-area {
    display: flex;
    flex-direction: column;
    padding: 14px 10px;
    align-items: stretch;
    border-bottom: 1px solid #272727;
}

.avatar-and-comment-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.avatar-and-comment-area img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.avatar-and-comment-area>div {
    width: 100%;
}

.avatar-and-comment-area textarea {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid rgb(87, 83, 83);
    color: #afb4b7;
    background-color: #2b2f32;
    font-family: inherit;
}

.avatar-and-comment-area textarea:focus {
    outline: none;
}

.cancel-and-comment-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 0.4em;
    margin-right: 4px;
}

.cancel-and-comment-btn>button:first-child {
    border: 1px solid #7db343;
    background-color: transparent;
    color: #afb4b7;
    border-radius: 3px;
    padding: 5px 15px;
}

.cancel-and-comment-btn>button:last-child {
    background-color: #7db343;
    color: #fff;
    border: 1px solid #7db343;
    border-radius: 3px;
    padding: 5px 15px;
}

.user-comments {
    height: calc(60vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
}


/* for user done comment part */
/* for Comment component */

.comment-body {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: flex-start;
    gap: 20px;
    /* border-bottom: 1px solid #272727; */
}

.comment-body img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: flex-start;
}

.comment-body button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.comment-body>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    align-self: flex-start;
}

.comment-body>div>div:first-child {
    font-size: 0.84em;
    margin-bottom: 5px;
}

.comment-body>div>div:first-child>svg:first-child {
    height: 1.7vmin;
    fill: #059df5;
}

.comment-body>div>div:first-child>span {
    opacity: 0.6;
}

.comment-body>div>div:first-child>button>svg:last-child {
    height: 3.6vmin;
}


.comment-body>div>div:last-child {
    font-size: 0.9em;
}



.no-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.1em;
    opacity: 1;
}




