
.accordion {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.accordion .accordion__tabs:focus {
    outline: none;
}

@media (max-width: 991px) {
    .accordion .accordion__tabs {
        display: none;
    }
}

.accordion .accordion__content .accordion__item {
    margin: 10px 0;
}

.accordion .accordion__content .accordion__item .accordion__label {
    position: relative;
    margin: 0;
    padding: 10px 13px;
    height: 60px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.25s;
}

.accordion .accordion__content .accordion__item .accordion__label > img {
    height: 56px;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .accordion .accordion__content .accordion__item .accordion__label {
        display: flex;
        column-gap: 20px;
        margin-bottom: 1em;
        background-color: var(--primary-background-color);
        color: var(--primary-text-color);
    }
}

.accordion .accordion__content .accordion__item .accordion__label:hover {
    color: #fff;
    background-color: #7db343;
}


.accordion .accordion__content .accordion__item .accordion__container {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.25s;
}

.accordion .accordion__content .accordion__item.active {
    padding-bottom: 15px 0;
}

.accordion .accordion__content .accordion__item.active .accordion__label {
    cursor: inherit;
    color: #fff;
    background-color: #1d1a1a;
}

.accordion .accordion__content .accordion__item.active .accordion__container {
    height: auto;
    opacity: 1;
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .accordion .accordion__content .accordion__item.active .accordion__container {
        margin-top: 15px;
    }
}


@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.resources {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 12px 20px;
    background-color: #303030;
    margin-bottom: 20px;
    border-radius: 5px;
}

.resources .resource-group {
    display: flex;
    flex-direction: column;
}

.resources .resource-group ul {
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    padding-inline-start: 0em !important;
}

.resources .resource-group ul > li {
    list-style-type: none;
    margin: 0;
    border-left: 4px solid #149ef1;
    margin: 5px 0px;
}

.resources .resource-group ul > li > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    border: none;
    height: 40px;
    padding: 0 8px;
    margin-bottom: 10px;
}

.resources .resource-group ul > li > a  > h4 {
    color: #149ef1;

}
.resources .resource-group ul > li > a > svg {
    height: 6.2vmin;
    fill: #149ef1;
}
  