.user-question-answer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 8px;
    padding: 10px 10px 5px 10px;
    background-color: var(--primary-background-color);
    color: #afb4b7
}

.user-question-answer .user-question-icon {
    align-self: flex-start;
    margin-top: 2px;                                                                                          
}

.user-question-answer .user-question-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 5px;
}

.user-question-answer .user-question-content .user-question-title {
    font-size: 1rem;
    justify-self: flex-start;
}

.user-question-answer .user-question-content .user-question-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.7em;
    column-gap: 8em;
    font-weight: 600;
    color: rgb(144, 127, 127);
    width: 100%;
}

.user-question-answer .user-question-content .user-question-info svg {
    height: 1.4vmin;
    margin-right: 5px;
}

.user-question-views {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}