div.main div.tab-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    isolation: isolate;
    box-sizing: border-box;
    padding: 10px 0;
}

div.main div.tab-container:after {
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    position: absolute;
    left: var(--left, 0%);
    top: 0;
    z-index: -1;
    transition: left 0.2s ease;
    /* background-color: rgb(219, 236, 252); */
    color: #139ef0;
}

div.main div.tab-container > div {
    width: 20% !important;
}

div.main div.tab-container > div  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.main div.tab-container:has(#one:checked):after {
    --left: 0%;
}

div.main div.tab-container:has(#two:checked):after {
    --left: 20%;
}

div.main div.tab-container:has(#three:checked):after {
    --left: 40%;
}

div.main div.tab-container:has(#four:checked):after {
    --left: 60%;
}

div.main div.tab-container:has(#five:checked):after {
    --left: 80%;
}


input[type="radio"] {
    display: none;
}

div.main svg {
    height: 5vmin;
    fill: #adb1b4;
    transition: fill 0.2s ease;
    margin-bottom: 4px;
}

:checked+label svg
{
    fill: #149EF1;
}

:checked+label div {
    color: #149EF1;
}

label > div {
    font-size: 0.7em !important;
}