.calendar-container {
    font-family: Arial, sans-serif;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header > div {
    font-weight: 700;
}

.calendar-header > button {
    background-color: #7db343;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.calendar-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.days-header {
    display: flex;
    justify-content: center;
}

.days-header > div {
    width: 14.285%;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
}

.days-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 7px;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    box-sizing: border-box;
}

.day.active {
    background-color: #149EF1;
    color: white;
    border-radius: 50%;
    box-sizing: border-box;
}

.empty-day {
    display: flex;
    height: 34px;
    /* background-color: #fff; */
    box-sizing: border-box;
}
