ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: transparent;
    isolation: isolate;
    padding: 6px 0;
    margin: 0;
}

ul:after {
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    position: absolute;
    left: var(--left, 0%);
    top: 0;
    z-index: -1;
    transition: left 0.2s ease;
    background-color: rgb(183, 220, 252);
}

ul > li {
    width: 20% !important;
}

ul > li  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

ul:has(#one:checked):after {
    --left: 0%;
}

ul:has(#two:checked):after {
    --left: 20%;
}

ul:has(#three:checked):after {
    --left: 40%;
}

ul:has(#four:checked):after {
    --left: 60%;
}

ul:has(#five:checked):after {
    --left: 80%;
}

input[type="radio"] {
    display: none;
}

svg {
    height: 5vmin;
    fill: hsl(200, 50%, 80%);
    trasition: fill 0.2s ease;
}

:checked+label svg {
    fill: #007BFF;
}