.code-list-item {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    padding: 8px;
    border-bottom: 0.8px solid var(--secondary-background-color);
    background-color: var(--primary-background-color);
    padding-left: 1.2em;
    color: var(--primary-text-color);
    font-size: 0.9em;
    font-weight: bolder;
    letter-spacing: 0.4px;
}


.code-list-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3px;
    width: 100%;
}

.code-list-item-profile-photo {
    justify-self: flex-start;
    margin-top: 4px;
}

.code-list-item-profile-photo img {
    border-radius: 50%;
}

.code-list-item-title {
    font-size: 1em;
    text-decoration: none;
}

.code-list-item-file-type {
    font-size: 0.6em;
    color: #fff;
    background-color: #139ef1;
    padding: 1px 7px;
    align-self: flex-start;
}

.code-list-item-views-comments-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.code-list-item-views-comments {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.code-list-item-comments {
    align-self: flex-end;
    margin-top: 3px;
}

.code-list-item-views,
.code-list-item-comments {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 5px;
    align-items: center;
    font-size: 0.7em;
}

.code-list-item-time {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    font-size: 0.7em;
}

.code-list-item-time>svg {
    height: 12px;
    aspect-ratio: 1;
}

.code-list-item-views img,
.code-list-item-comments img {
    width: 15px;
    aspect-ratio: 1;
}

.code-list-item-comments>div {
    margin-top: -4px;
}