.feed-post {
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
}

.feed-post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
    background-color: var(--primary-background-color);
}

.feed-post-header-left {
    display: flex;
    align-items: center;
    font-size: 0.7em;
}

.feed-post-header-left>div>div:nth-child(2) {
    font-size: 0.9em;
    opacity: 0.8;
}

.feed-post-header-left>div>div:last-child {
    font-size: 0.8em;
    opacity: 0.7;
    font-style: italic;
}


.feed-post-header-left img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 6px;
}

.feed-post-header-right button {
    background-color: transparent;
    color: var(--primary-text-color);
    border: 1px solid #139EF1;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 0.8em;
}

.feed-post-body {
    padding: 12px 7px;
    background-color: var(--primary-background-color);
}

.feed-post-body .read-more {
    cursor: pointer;
}

.feed-post-body .read-more button {
    background-color: transparent;
    border: none;
    color: var(--secondary-text-color);
    font-size: 1em;
}

.feed-post-image img {
    width: 100%;
    aspect-ratio: 1;
}

.feed-post-content {
    display: flex;
    justify-content: space-between;
    padding: 6px 3px;
    background-color: var(--tertiary-background-color);
    border-bottom: 30px solid var(--secondary-background-color);
}

.feed-post-content svg {
    fill: #8b9093;
}

.feed-post-content-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-post-content-left>button,
.feed-post-content-right>button {
    background-color: transparent;
    border: none;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4px;
}

.feed-post-content-right > button {
    column-gap: 2px;
}