.code-list-item {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 1.2em;
}

.code-list-item-icon img {
    width: 30px;
    aspect-ratio: 1;
}

.code-list-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.code-list-item-title {
    font-size: 1.1em;
    text-decoration: none;
}

.code-list-item-views-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.code-list-item-comments {
    align-self: flex-end;
    margin-top: 4px;
}

.code-list-item-views,
.code-list-item-comments {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 5px;
    align-items: center;
    font-size: 0.7em;
}

.code-list-item-views img,
.code-list-item-comments img {
    width: 15px;
    aspect-ratio: 1;
}

.code-list-item-comments > div {
    margin-top: -4px;
}