

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #333a40;
}

.auth-container .signup,
.auth-container .login {
    width: 88%;
    border-radius: 8px;
}

.auth-container .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333a40;
    padding: 14px;
    border-radius: 8px 8px 0 0;
    color: #afb4b7;
    font-size: 2.5em;
    font-weight: 700;
}

.auth-container .modal-body {
    display: flex;
    padding: 40px 30px 15px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.auth-container .modal-body a {
    margin-top: -15px;
    text-decoration: none;
    text-indent: 2px;
}

.auth-container .modal-body input {
    width: 100%;
    padding: 9px 14px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #262424;
    color: #afb4b7;
    box-sizing: border-box;
    font-size: 1.1em;
    border: none;
}

.auth-container .modal-body input:focus {
    outline: 2px solid #7db343;
}

.auth-container .modal-body .success-message {
    color: #afb4b7;
    text-align: center;
}

.auth-container .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    font-size: 0.8em;
    background-color: #333a40;
    padding: 10px 20px 20px;
    border-radius: 0 0 8px 8px;
    color: #afb4b7;
}

.auth-container .modal-footer label {
    color: #139ef1;
}

.submit-button {
    background: #7db343;
    color: white;
    border: none;
    padding: 7px 16px 8px;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
}


.submit-button:hover {
    background: #6e9738;
}

#chk {
    display: none;
}

.auth-container .signup {
    display: none;
}

#chk:checked~.signup {
    display: block;
}

#chk:checked~.login {
    display: none;
}