.floating-ask-question-button {
    position: fixed;
    right: 24px;
    bottom: 80px;
    color: white;
    z-index: 10;
    border: none;
    border-radius: 4px;
    box-shadow: var(--floating-btn-shadow);
    padding: 8px 14px;
    background-color: #149ef1;
}

.floating-ask-question-button .ask-question-actions {
    cursor: pointer;
    color: white;
    font-size: 1.1em;
}