.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    background-color: #149EF1;
    position: fixed;
    height: 56px;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

input[type='checkbox'].tab {
    display: none;
}

input[type='checkbox'].tab + label {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #149EF1;
    outline: none;
    color: white;
    font-size: 1em;
    transition: background 0.3s;
    width: calc(100% / 3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='checkbox'].tab:checked + label {
    background-color: #149EF1;
}

input[type='checkbox'].tab:checked ~ .slider-useractivity {
    left: calc(100% / 3 * var(--tab-index));
}

input[type='checkbox'].tab:nth-of-type(1):checked ~ .slider-useractivity {
    left: calc(100% / 3 * 0);
}

input[type='checkbox'].tab:nth-of-type(2):checked ~ .slider-useractivity {
    left: calc(100% / 3 * 1);
}

input[type='checkbox'].tab:nth-of-type(3):checked ~ .slider-useractivity {
    left: calc(100% / 3 * 2);
}

.slider-useractivity {
    background: #f9e745;
    width: calc(100% / 3);
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    transition: left 0.3s ease-out;
}

.pre-tag-wrapper > pre {
    padding: 0 !important; 
    margin: 0 !important;    
}

.swipeable-views {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.tabpanel {
    min-width: 100%;
    height: calc(100% - 155px);
    overflow-x: auto;
}