.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    background-color: #149EF1;
    position: fixed;
    height: 56px;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #149EF1;
    outline: none;
    color: white;
    font-size: 1em;
    transition: background 0.3s;
    width: calc(100% / 3);
}

button.tab:nth-of-type(1):focus~.slider-useractivity {
    left: calc((100% / 3) * 0);
}

button.tab:nth-of-type(2):focus~.slider-useractivity {
    left: calc((100% / 3) * 1);
}

button.tab:nth-of-type(3):focus~.slider-useractivity {
    left: calc((100% / 3) * 2);
}

.slider-useractivity {
    background: #f9e745;
    width: calc(100% / 3);
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    transition: left 0.3s ease-out;
}

.pre-tag-wrapper > pre {
    padding: 0 !important; 
    margin: 0 !important;    
}

.swipeable-views {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.tabpanel {
    min-width: 100%;
    height: calc(100% - 155px);
    overflow-x: auto;
}