.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    background-color: #149EF1;
    position: fixed;
    height: 56px;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #149EF1;
    outline: none;
    color: white;
    font-size: 1em;
    transition: background 0.3s;
    width: calc(100% / 3);
}

button.tab:nth-of-type(1):focus~.slider-codearea {
    left: calc((100% / 3) * 0);
}

button.tab:nth-of-type(2):focus~.slider-codearea {
    left: calc((100% / 3) * 1);
}

button.tab:nth-of-type(3):focus~.slider-codearea {
    left: calc((100% / 3) * 2);
}

.slider-codearea {
    background: #f9e745;
    width: calc(100% / 3);
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    transition: left 0.3s ease-out;
}

.pre-tag-wrapper > pre {
    padding: 0 !important;
    margin: 0 !important;    
}

.tabpanel {
    min-width: 100%;
    height: calc(100% - 155px);
    overflow-x: auto;
}



.floating-comment-button {
    position: fixed;
    right: 6px;
    bottom: 40px;
    color: white;
    z-index: 10;
}

.floating-comment-button .comment-actions > .comment-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 20px;
    background-color: #7db343;
    padding: 4px 8px;
    border-radius: 7px;
    color: white;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.floating-comment-button .comment-actions > .comment-btn > svg {
    height:  4vmin !important;
    fill: white;
}